   <product-form data-section-id="{{ section.id }}">
              {%- form 'product',
                card_product,
                id: product_form_id,
                class: 'form',
                novalidate: 'novalidate',
                data-type: 'add-to-cart-form'
              -%}
                <input
                  type="hidden"
                  name="id"
                  value="{{ card_product.selected_or_first_available_variant.id }}"
                  class="product-variant-id"
                  {% if card_product.selected_or_first_available_variant.available == false %}
                    disabled
                  {% endif %}
                >
                       
                       
                       <button
                      type="button"
                      class="button buynow-btn"
                      title="Buy"
                      {% if product.selected_or_first_available_variant.available == false %}
                        disabled
                      {% endif %}
                    >
                      <span class="button-text"> Buy Now </span>

                      <div class="{% if class %}{{ class }}{% else %}loading__spinner-2 hidden{% endif %}">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            class="spinner"
                            viewBox="0 0 66 66"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>

                    </button>

                        {%- endform -%}
            </product-form>

      <script>

        $('.buynow-btn').on("click", function (e) {
          e.preventDefault();
          var form = $(this).closest("form");
          $(this).addClass("loading");
          $(this).find('.loading__spinner-2').removeClass("hidden");
          var formParams = form.serialize();
           $.ajax({
            url: "/cart/add",
            type: "post",
            data: formParams,
            success: function(){
              $(this).removeClass("loading");
              $(this).find('.loading__spinner-2').addClass("hidden");
              window.location.href = "/checkout";
            },
            error: function(){
            }
           })
        
        });
  </script>
